@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@400;600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto&display=swap');

.btn-success {
    background-color: #0ab39c !important;
    border: none !important;
}

.form-control {
    box-shadow: none !important;
}

.form {
    width: 100% !important;
    overflow-x: hidden;
    height: 100vh;
    background-image: url('../images/bg_image1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.form1 .card img {
    transition: 0.5s all ease-in-out;
}

.btn-primary {
    background-color: orangered !important;
    border: none !important;
    position: relative;
    box-shadow: none !important;
}

.btn-danger {
    background-color: orangered !important;
    border: none !important;
    position: relative;
    box-shadow: none !important;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue !important;
    border: none !important;
    z-index: -1;
    transform: scale(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left top;
    border-radius: 5px;
   
}
.btn {
    z-index: 1;

}

.btn:hover::before {
    transform: scale(1);
   
}
.image1 {
    width: 250px !important;
    height: 150px !important;
}
.page-item{
    margin-left: 5px !important;
}
.form1 .card {
    overflow: hidden;
    width: 25rem;
    height: 510px;

}

.form1 .card img:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.pagination li a {
    border-radius: 50% !important;

}

.blockquote-footer {
    text-align: right;
    font-style: italic;
}

.blockquote-footer::before {
    content: "~" !important;
    font-size: 20px !important;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    width: 350px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #777777;
}



.form1 .card-title {
    font-family: 'Jost', sans-serif;
    font-weight: 500 !important;
    font-size: 24px;
    color: #141b22;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: 40px !important;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #777777 !important;
    font-size: 18px;
    text-align: justify;
}

.form1 .card-body {
    position: relative;
}

.form1 .card-body::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0%;
    right: 0;
    background-color: #7cbe45;
    z-index: -1;
    transition: all 0.5s;

}

.form1 .card-body {
    z-index: 1;
}

.form1 .card-body:hover:before {
    height: 100%;
}

.form1 .card-body:hover h5 {
    color: white;
}

.form1 .card-body:hover p {
    color: white;
}

.form1 .card-body:hover footer {
    color: white;
}

.edit {
    padding-top: 7px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: white;
}

.edit1 {
    padding-top: 7px;
    padding-left: 7px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: #000;
}

.image {
    float: left;
    margin: 15px;
}
